/* @font-face {
    font-family: 'NotoSerif';
    font-weight: 400;
    src: url(fonts/NotoSerif-Regular.ttf);
}

@font-face {
    font-family: 'NotoSerif';
    font-weight: 700;
    src: url(fonts/NotoSerif-Bold.ttf);
} */

html {
    box-sizing: border-box;
    height: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

* {
    padding: 0px;
    margin: 0px;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    max-width: 1200px;
    padding: 8px 0;
    margin: 0 auto;
    font-size: 16px;
    font-family: serif
}

footer,
header {
    padding: 16px 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.post-wrapper,
.post-voting,
.post {
    display: flex;
}

.post-wrapper:first-of-type {
    border-top: #181818 1px solid;
}

.post-wrapper:last-of-type {
    border-bottom: #181818 1px solid;
}

.post-wrapper {
    padding: 8px;
    gap: 16px;
}

.post-voting {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.post-voting button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    height: 16px;
}

.post-upvote.selected {
    color: #ff5100;
}

.post-downvote.selected {
    color: #3946fa;
}

.post {
    flex-direction: column;
}

.post-headline {
    font-weight: bold;
}

.post-details {
    font-size: 0.8rem;
    color: #848484;
}

@media (prefers-color-scheme: dark) {
    body {
        background: #000000;
        color: #dfdfdf;
    }

    a {
        color: #56c8ff;
    }

    input,
    select {
        background-color: #111111;
        border-color: #343434;
        border-style: solid;
        border-radius: 2px;
        color: #dfdfdf;
    }  

    input[type="button"]:hover,
    input[type="submit"]:hover {
        background-color: #191919;
    }
  
    input[type="button"]:active,
    input[type="submit"]:active {
        background-color: #000000;
    }  

    input[type="checkbox"],
    input[type="radio"] {
        filter: invert(100%) hue-rotate(164deg) brightness(1.1);
    }
}
